

<div class="center jumbotron">
  <p>Welcome to rails blog where you  post your articles</p>
	<h1>RAILS BLOG</h1>
	<%= link_to "Sign Up", "#", class:"btn btn-default btn-lg btn-xlarge"%>
	
</div>
