

<div class="center jumbotron">
  <p>Welcome to Asf Tasued blog where you  post your articles</p>
	<h1>ASF TASUED BLOG</h1>
	<%= link_to "Sign Up", signup_path, class:"btn btn-default btn-lg btn-xlarge"%>
	
</div>
